/* GENERALE */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

.clearfix::after{
  content:'';
  display: table;    
  clear:both; 
}

.contenitore{
  width: 80%;
  max-width: 1200px;
  min-width: 600px;
  margin: 0 auto;
}

.col{
  float: left;
}

/* HEADER */

/* Logo */

div.logo > img{
  width: 125px;
  padding-right: 15px;
  margin-bottom: 15px;;
  border-right: 1px solid rgb(229,229,229)
}

/* /logo */

/* Menù */

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin-left: 10px;
}

nav ul li a{
  text-transform: uppercase;
  font-size: 14px; 
  color:rgb(135, 135, 135);
}

nav ul li a:hover{
  text-decoration:underline;
  color: rgb(203, 188, 182) ;
}

.logo{
  padding-bottom: 25px;
}

/* /Menù */

/* Jumbotron */

div.jumbotron{
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  width: auto;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.overlay{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.jumbotron .text{
  padding-top: 35%;
  padding-left: 50px;
  color: white;
}

.jumbotron p{
  width: 40%;
}
/* /jumbotron */

/* MAIN */

div.titolo p{
  color: rgb(135, 135, 135) ;
  padding-bottom: 30px;
}

/* 3 Colonne */

aside{
  width: 20%;
}

section{
  width: 58%;
  margin: 0 1% 15px;
}


.img-pianta{
  background-image: url(../img/img-1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  height: 200px;
}

div.text-left h3, div.text-right  h3, div.text-center h3{
  padding: 15px 0 15px;
}

.text-left p, .text-right p, .text-center p{
  color: rgb(135, 135, 135) ;
}

.img-lamp{
  background-image: url(../img/img-3.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  height: 200px;
}

.img-pensante{
  background-image: url(../img/banner-2.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  height: 200px;
}
/* /3colonne */

/* footer */

